version: "3.9"

services:
  channel-db:
    container_name: channel-db
    image: mysql:8.0.36
    platform: linux/amd64
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --skip-name-resolve
    restart: always

    env_file:
      - .env.local

    ports:
      - "${DB_PORT}:3306"   # .env.local 기준 DB_PORT=3307

    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_NAME}"

    volumes:
      - channel-db-data:/var/lib/mysql

    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -uroot -p${DB_PASSWORD} | grep 'mysqld is alive'" ]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  channel-db-data:
