spring:
  application:
    name: bank-channel

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    show_sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: ${DDL_AUTO}
    database-platform: org.hibernate.dialect.MySQLDialect

# 로그 패턴 설정 (MDC의 traceId 포함)
logging:
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} [%X{traceId}] %-5level %logger{36} - %msg%n'
  level:
    # Feign Client 로깅 (개발: DEBUG, 운영: INFO)
    com.bank.channel.baas.service.AccountSystemClient: DEBUG
# Feign Client에서 사용되는 URL
external:
  api:
    account-system:
      url: ${ACCOUNT_SERVER_URL}
